@model SixthWeb.Models.Assignment

<h2>Статья: @Model.Name</h2>
<h3>Срок выполнения: @Model.TimeDate</h3>
<h3>Статус выполнения:</h3>
<div>

    <dl class="dl-horizontal" style="float:left">
        @Html.Raw(Model.Text)
    </dl>

    <a class="btn btn-primary" asp-action="Edit" asp-controller="Assignment" asp-route-id="@Model.Id">Изменить</a> |
    <a class="btn btn-danger" asp-action="Delete" asp-controller="Assignment" asp-route-id="@Model.Id">Удалить</a>
</div>